@model Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<h1 class="mb-3">Crear Usuario</h1>

<h4>Información del Usuario</h4>
<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="Carnet" class="form-label"></label>
                <input asp-for="Carnet" class="form-control" />
                <span asp-validation-for="Carnet" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Telefono" class="form-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="Activo" />
                <label class="form-check-label" asp-for="Activo"></label>
            </div>

            <button type="submit" class="btn btn-primary">Crear</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Regresar</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
