@model Binaes.Web.Models.Autor

@{
    ViewData["Title"] = "Detalles del autor";
}

<h1 class="mb-4">Detalles del autor</h1>

<div class="card shadow-sm mb-3">
    <div class="card-body">

        <h5 class="card-title">@Model.Nombre</h5>

        <hr />

        <dl class="row">
            <dt class="col-sm-3 fw-bold">
                Nombre
            </dt>
            <dd class="col-sm-9">
                @Model.Nombre
            </dd>
        </dl>

    </div>
</div>

<div class="d-flex gap-2">
    <a asp-action="Edit"
       asp-route-id="@Model.Id"
       class="btn btn-warning">Editar</a>

    <a asp-action="Index"
       class="btn btn-secondary">Volver a la lista</a>
</div>
