@model LibroAutor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LibroAutor</h4>
    <hr />
    <dl class="row">

        <!-- LIBRO -->
        <dt class="col-sm-2">Libro</dt>
        <dd class="col-sm-10">
            @Model.Libro?.Titulo ?? ("ID: " + Model.LibroId)
        </dd>

        <!-- AUTOR -->
        <dt class="col-sm-2">Autor</dt>
        <dd class="col-sm-10">
            @Model.Autor?.Nombre ?? ("ID: " + Model.AutorId)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-libroId="@Model.LibroId" asp-route-autorId="@Model.AutorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
