@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="container mt-4">

    <h1 class="mb-4">Política de Privacidad</h1>

    <div class="card shadow-sm">
        <div class="card-body">

            <p class="mt-4 text-muted">
                © @DateTime.Now.Year – Proyecto Académico BINAES
            </p>

        </div>
    </div>
</div>
